    <div class="list-group list-group-flush">
      <li class="list-group-item">カテゴリー検索</li>
      <li class="list-group-item"><%= link_to "子供同士での交流","/tweets/category/1" %></li>
      <li class="list-group-item"><%= link_to "子ども食堂","/tweets/category/2" %></li>
      <li class="list-group-item"><%= link_to "学習支援","/tweets/category/3" %></li>
      <li class="list-group-item"><%= link_to "多世代交流","/tweets/category/4" %></li>
      <li class="list-group-item"><%= link_to "その他","/tweets/category/5" %></li>
    </div>