    <div class="list-group list-group-flush">
      <li class="list-group-item border-warning">カテゴリー検索</li>
      <li class="list-group-item border-warning"><%= link_to "子ども同士の交流","/tweets/category/1", class: "text-dark" %></li>
      <li class="list-group-item border-primary"><%= link_to "子ども食堂","/tweets/category/2", class: "text-dark" %></li>
      <li class="list-group-item border-success"><%= link_to "学習支援","/tweets/category/3", class: "text-dark" %></li>
      <li class="list-group-item border-success"><%= link_to "多世代交流","/tweets/category/4", class: "text-dark" %></li>
      <li class="list-group-item"><%= link_to "その他","/tweets/category/5", class: "text-dark" %></li>
    </div>