<div class="container">
 <div class="row">
  <div class="col-md-3">
   <%= render "users/user_info", user: @user %>
  </div>
  <div class="col-md-4">
    <%= attachment_image_tag @tweet, :post_image, :fill, 300, 300, format: 'jpeg' %>
  </div>
  <div class="col-md-5">
    <h2>Tweet</h2>

    <table class="table">
     <thead>
      <tr>
        <th>Title</th>
        <th>Erea</th>
        <th>category</th>
      </tr>
     <tbody>
      <tr>
       <td>
        <%= @tweet.title %>
       </td>
       <td>
        <%= @tweet.erea.name %>
       </td>
       <td>
        <%= @tweet.category.name %>
       </td>
       <td>
        <i class="far fa-clock clock-icon"><%= time_ago_in_words(@tweet.created_at) %>前</i>
       </td>
      </tr>
     </tbody>
    </table>
    <div class="row">
     <div class="col-md-4">
     <p><%= @tweet.body %></p>

     </div>
    </div>
    <div class="row">
     <ul>
      <li class="comment-create">
       <h7 class="test-left title">コメント</h7>
      </li>
      <li>
       <div id="comments_area">
       <%= render partial: "comments/index", locals: { commetns: @comments, tweet: @tweet } %>
       </div>
      </li>
     </ul>
     <hr>
     <% if user_signed_in? %>
      <div class="comment-create">
       <h5 class="test-left">コメント投稿</h5>
        <%= render partial: "comments/form", locals: { comment: @comment, tweet: @tweet } %>
      </div>
     <% end %>
    </div>
 </div>
</div>