<% visiter = notification.visiter %>
<% tweet = notification.tweet %>

<ul>
    <li><%= link_to user_path(visiter) do %><strong><%=visiter.name %><% end %></strong>さんが
    <strong><%= link_to tweet_path(notification.tweet_id) do %><%= tweet.title%><% end %></strong>にコメントしました。
    <%= " (#{time_ago_in_words(notification.created_at)} 前)" %></li>

</ul>