

<!--<div class="container">-->
<!-- <div class="row">-->
<!--  <div class="col-md-11 offset-md-1 mt-4">-->
<!--   <h2>Users</h2>-->
<!--    <table class="table table-hover table-invers table-borderless">-->
<!--     <thead>-->
<!--      <tr>-->
<!--       <th></th>-->
<!--       <th>Name</th>-->
<!--       <th>Introductin</th>-->
<!--       <th>Follow</th>-->
<!--       <th>Follower</th>-->
<!--       <th>Tweets</th>-->

<!--       <th colspan="3"></th>-->
<!--      </tr>-->
<!--     </thead>-->
<!--     <#% @users.each do |user| %>-->
<!--     <tbody>-->
<!--      <tr>-->
<!--       <td>-->
<!--        <%#= link_to user_path(user.id) do %>-->
<!--         <#%= attachment_image_tag user, :profile_image, format: "jpeg", size: "40x40",class: "img-fluid rounded-circle" %>-->
<!--        <#% end %>-->
<!--       </td>-->
<!--       <td>-->
<!--        <%#= link_to user_path(user.id), class: "text-dark" do %>-->
<!--         <strong><%#= user.name %></strong>-->
<!--        <#% end %>-->
<!--       </td>-->
<!--       <td>-->
<!--        <#%= user.introduction.truncate(20) %>-->
<!--       </td>-->
<!--       <td>-->
<!--         <strong><%#= link_to "#{user.followings.count}", user_followings_path(user), class: "text-dark" %></strong>-->

<!--       <td>-->
<!--        <strong><%#= link_to "#{user.followers.count}", user_followers_path(user), class: "text-dark" %></strong>-->
<!--       </td>-->
<!--       <td>-->
<!--        <strong><%#= link_to "#{user.tweets.count}", user_path(user.id), class: "text-dark" %></strong>-->
<!--       </td>-->

<!--      </tr>-->
<!--     </tbody>-->
<!--     <#% end %>-->
<!--     <%#= paginate @users %>-->
<!--    </table>-->
<!--   </div>-->
<!--  </div>-->
<!--</div>-->


<!--<body class="" data-layout="{&quot;mode&quot;: &quot;light&quot;, &quot;width&quot;: &quot;fluid&quot;, &quot;menuPosition&quot;: &quot;fixed&quot;, &quot;sidebar&quot;: { &quot;color&quot;: &quot;light&quot;, &quot;size&quot;: &quot;default&quot;, &quot;showuser&quot;: true}, &quot;topbar&quot;: {&quot;color&quot;: &quot;light&quot;}, &quot;showRightSidebarOnPageLoad&quot;: true}" data-sidebar-size="condensed" data-layout-width="fluid" data-layout-menu-position="fixed" data-sidebar-color="light" data-sidebar-showuser="true" data-topbar-color="light" style="visibility: visible; opacity: 1;">-->
<!--<div class="container-fluid">-->
<body>
<div class="container">
<h2 class="text-center mt-4">Users</h2>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-4 pl-2 pr-2">
 <% @users.each do |user| %>
  <div class="col-md-4">
   <div class="card h-100">
      <div class="text-center card-body column flex-direction:row">

          <div>
              <!--<img src="../assets/images/users/user-10.jpg" class="rounded-circle avatar-xl img-thumbnail mb-2" alt="profile-image">-->
              <%= link_to user_path(user.id) do %>
               <%= attachment_image_tag user, :profile_image, format: "jpeg", size: "60x60",class: "rounded-circle avatar-xl img-thumbnail mb-2",alt: "profile-image" %>
              <% end %>
              <p class="text-muted font-13 mb-3">
                 <%= user.introduction.truncate(20) %>
              </p>

              <div class="text-start">
                 <%= link_to user_path(user.id), class: "text-dark" do %>
                  <p class="text-muted font-13"><strong>Full Name :</strong> <span class="ms-2"><%= user.name %></span></p>
                 <% end %>

                  <p class="text-muted font-13"><strong>Follow :</strong><span class="ms-2"><%= link_to "#{user.followings.count}", user_followings_path(user), class: "text-dark" %></span></p>

                  <p class="text-muted font-13"><strong>Follower :</strong> <span class="ms-2"><%= link_to "#{user.followers.count}", user_followers_path(user), class: "text-dark" %></span></p>

                  <p class="text-muted font-13"><strong>Tweets :</strong> <span class="ms-2"><%= link_to "#{user.tweets.count}", user_path(user.id), class: "text-dark" %></span></p>
              </div>
              <%= link_to "About User", user_path(user.id), class: "btn btn-outline-primary rounded-pill waves-effect waves-light"%>


          </div>

      </div>
      </div>
  </div>
<% end %>
<%= paginate @users %>
</div>
</body>


