<h1>Users#show</h1>

<h2>名前</h2>
<%= @user.name %>

 <%= @tweets.each do | tweet | %>
      
      <%= link_to tweet_path(tweet.id) do %>
       <%= tweet.title %>
      <% end %>
      <%= tweet.body %>
 <% end %>