<div class="container">
 <div class="row">
  <div class="col-md-3 mt-4">
   <!--元々のやつ-->
   <%= render "users/user_info", user: @user %>

   <%= render "users/follow_form", user: @user %>
  </div>
  <div class="col-md-8 offset-md-1 mt-4">
  <h2>Tweet</h2>

   <table class="table table-borderless">
    <thead>
     <tr>
      <th>Title</th>
      <th>Erea</th>
      <th>Category</th>
      <th colspan="3"></th>
     </tr>
    </thead>
    <% @tweets.each do | tweet | %>
    <tbody>
     <tr>
      <td>
       <%= link_to tweet_path(tweet.id), class: "text-dark" do %>
        <strong><%= tweet.title %></strong>
       <% end %>
      </td>
      <td>
       <%= tweet.erea.name %>
      </td>
      <td>
       <%= tweet.category.name %>
      </td>
      <td id="favorite_buttons_<%= tweet.id %>">
        <%= render "favorites/favorite", tweet: tweet %>
       </td>
      <td>
       <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(tweet.created_at) %>前
      </td>
      <% unless current_user != @user %>
      <td>
        <%= link_to "編集", edit_tweet_path(tweet), class: "btn btn-outline-dark" %>
      </td>
      <td>
       <%= link_to "削除", tweet_path(tweet.id), method: :delete, class: "btn btn-outline-dark", data: {confirm: "削除しますか？"} %>
      </td>
      <% end %>
     </tr>
    </tbody>
   <% end %>
   <%= paginate @tweets %>
  </div>
 </div>
</div>

